---
---

$bg-color: #688C5D;
$text-color: #000;
$gutter: 17px;
$font-size: 16px;
$font-size-med: 16px;

body {
  padding: 1em;
  font-family: Times, serif;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  font-size: $font-size;
  color: $text-color;
  line-height: 3px;
}

.triangle {
  background-image: url(/imgs/triangle.png);
  background-size: 80px 72px;
  display: none;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  position: fixed;
  top: 1em;
  right: 0px;
}

#triangle-float {
  float: left;
  margin-top: -10px;
  margin-left: -10px;
  width: 110px;
  height: 100px;
  padding: 10px 10px 0px 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
}

.interview {
  font-size: $font-size;
  position: absolute;
  top: 1.6em;
  right: 20px;
}

.interview p {
  margin: 0 !important;
}

.about {
  font-size: $font-size;
  width: 60%;
  padding-right: 2em;
  max-width: 500px;
}

.about a, {
}

footer {
  padding-top: 4em;
}

.intro {
  padding-top: .6em;
  padding-bottom: .6em;
  font-size: $font-size;
}

.intro h1 {
  font-weight: bold;
}

.intro a {
  border-width: 0;
}

.news-banner {
  color: $text-color;
  padding-top: 0;
  padding-bottom: .8em;
  margin-bottom: 1em;
  display: inline-block;
  border: none $text-color;
  border-width: 0 0 0px 0;
  font-size: $font-size;
}

.news-banner a {
    border-bottom: 0;
}

.list {
    width: 100%;
    margin: 0px auto;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: $font-size-med;
}

.line-inner {
  border: solid $text-color;
  border-width: 1px 1px 0px 1px;
  position: relative;
}

.line-inner:last-child {
  border-bottom: 1px solid #000;
}


.inner {
  float: left;
  width: 33.33333%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.innercap {
  border: solid $text-color;
  border-width: 0 0px 0 0;
  margin: auto;
  padding: 12px;
  border-width: 0 1px 0 0;
}

.url .innercap {
  border-width: 0;
      word-break: break-all;
}

.line-inner .clear {
  clear: both;
}

@media (max-width: 575px) {
.url {
    width: 100%;
    border-color: red;
    border: solid $text-color;
    border-width: 1px 0 0 0;
  }

  .line-inner, .inner-cap {
    border: solid $text-color;
  }

  .innercap {
    border: solid $text-color;
    border-width: 0 1px 0 0;
    margin: auto;
    padding: 12px;
    line-height: 20px;
  }

  .inner:last-child {
    width: 100%;
  }

  .inner {
    float: left;
    width:50%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
  }

  .line-inner {
    margin-bottom: 20px;
    border-width: 1px;
  }

  .city .innercap {
    border-width: 0;
  }

  .about {
    width: auto;
  }

}

@media (max-width: 575px) {
  .triangle {
    display: none;
  }

}

.TickerNews{
	width: 100%;
	height: 50px;
	line-height: 48px;
}
.ti_wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.ti_slide{
	width: 30000px;
	position: relative;
	left: 0;
	top: 0;
}
.ti_content{
	width: 8000px;
	position: relative;
	float:left;
}
.ti_news{
	float:left;
}
.ti_news a{
	display: block;
	margin-right: 10px;
	color:black;
	text-decoration: none;
	font-family: geneva;
}
