---
---

$bg-color: #6dce97;
$text-color: #000;
$gutter: 15px;
$font-size: 19px;
$font-size-med: 16px;

body {
  background-color: $bg-color;
  color: $text-color;
}

.intro a {
  color: $text-color;
}

.info {
  border: 1px solid $text-color;
  padding: .8em .8em 0 .8em;
  margin-bottom: 2em;
  width: 70%;
}

section p {
  margin-bottom: 1em;
  line-height: 30px;
  padding-left: 20px;
}

section a {
  color: $text-color;
}

section img {
  max-width: 200px;
}

section strong {
  margin-left: -20px;
  display: block;
}

.info p, .info h2 {
  margin-bottom: .8em;
  padding-left: 0;
}

#triangle-mobile {
  display: none;
}

@media (max-width: 575px) {
  #triangle-mobile {
    display: block;
    width: 110px;
    height: 100px;
    padding-top: 1em;
  }
}

@media (max-width: 805px) {
  .info {
    width: auto;
  }

  section img {
    max-width: 95%;
  }
}
