{% include _meta.html %}
</head>

<body>
  {% include _header.html %}

  <a href="70836">
    <div class="news-banner">
      * Interview with Shahan Assadorian by Quintessa Matranga
    </div>
  </a>

  <div class="list">
    {% assign sorted = (site.spaces | sort: "city") %}
    {% for space in sorted %}
      <div class="line-inner">
          <div class="inner title">
            <a href="{{ space.ext-url }}">
              <div class="innercap">
              {{ space.title }}
             </div>
            </a>
          </div>


        <div class="inner city">
          <div class="innercap">
          {{ space.city }}
          </div>
        </div>

        <a href="{{ space.ext-url }}">
          <div class="inner url">
            <div class="innercap">
            {% if space.living == false %}
              <span style="text-decoration: line-through;">
                {{ space.nice-url }}
              </span>
            {% else %}
              {{ space.nice-url }}
            {% endif %}
            </div>
          </div>
        </a>

        <div class="clear"></div>
      </div>
    {% endfor %}
  </div>

  <div class="about">
    <p><img id="triangle-float" src="imgs/triangle.png">Gossip's Web is an index of {{ site.spaces | size }} artist-run sites. Submissions can be called in or texted to <a href="tel:+16612283141">+1 661–228–3141</a>. Gossip's supports non-comerical art projects and exhibitions. We are currently located in New York. <a href="http://eepurl.com/cF0-Rj">Subscribe to our occasional newsletter</a> for updates.</p>
  </div>

  <footer></footer>

</body>
</html>
