{% include _meta.html %}
</head>

<body>
  {% include _header.html %}

  <div class="interview">
    <p><a href="70836">•</a></p>
  </div>

  <div class="list">
    {% assign sorted = (site.spaces | sort: "city") %}
    {% for space in sorted %}
      <div class="line-inner">
          <div class="inner title">
            <a href="{{ space.ext-url }}">
              <div class="innercap">
              {{ space.title }}
             </div>
            </a>
          </div>


        <div class="inner city">
          <div class="innercap">
          {{ space.city }}
          </div>
        </div>

        <a href="{{ space.ext-url }}">
          <div class="inner url">
            <div class="innercap">
            {% if space.living == false %}
              <span style="text-decoration: line-through;">
                {{ space.nice-url }}
              </span>
            {% else %}
              {{ space.nice-url }}
            {% endif %}
            </div>
          </div>
        </a>

        <div class="clear"></div>
      </div>
    {% endfor %}
  </div>

  <div class="about">
    <p><a href="tel:+16612283141">+1 661–228–3141</a></p>
    <p><a href="https://github.com/oilstel/gossips">Version Control</a></p>
  </div>

  <footer></footer>

</body>
</html>
